<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            {{ form_start(form, {'method': 'post', 'action': path('new_idea'),'attr': {'class': 'form-goup'}}) }}

            <div class="modal-body">
                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}

                </div>
                <div class="form-group">
                    {{ form_label(form.shortDescription) }}
                    {{ form_widget(form.shortDescription) }}

                </div>
                <div class="form-group">
                    {{ form_label(form.elaborateDescription) }}

                    {{ form_widget(form.elaborateDescription) }}

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">New Idea</button>
            </div>
            {{ form_end(form) }}
        </div>

    </div>
</div>